<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>GPX outliers detection</title>
    <meta name="description" content="Detect and correct wrong GPS points in your GPX track">
    <meta name="author" content="Tomas Dvorak">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

</head>

<body>
<div id="app">
    <div id="navigation">
        <div v-if="gpx">
            <h3 v-text="name"></h3>
            <table>
                <tr>
                    <td>Elevation gain:</td>
                    <td><span>{{elevationGain.toFixed(1)}}</span>m</td>
                </tr>
            </table>

            <h3>Multiselect</h3>
            <ul>
                <li v-if="!leaflet.multiselect"><a href="#" v-on:click.prevent="switchMultiselect">Enable</a></li>
                <li v-if="leaflet.multiselect"><a href="#" v-on:click.prevent="removeSelected">Remove all selected points</a></li>
                <li v-if="leaflet.multiselect"><a href="#" v-on:click.prevent="switchMultiselect">Disable selection tool</a></li>
            </ul>

            <h3>Track</h3>
            <a href="#" v-on:click.prevent="downloadFile">Download fixed</a>
            <a href="https://www.strava.com/upload/select" target="_blank">Open strava</a>
            <a href="#" v-on:click.prevent="removeFile">Restart app</a>
        </div>
        <div v-if="!gpx">
            Upload: <input type="file" v-on:change="loadFile">
        </div>
    </div>
    <div class="right">
        <div id="mapid"></div>
        <div id="elevation">
            <p v-if="points.length == 0">Upload a GPX track to see elevation profile</p>
        </div>
    </div>

</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="js/Leaflet.SelectAreaFeature.js"></script>
<script src="js/science.v1.js"></script>
<script src="js/app.js"></script>
</body>
</html>
