<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>GPX outliers detection</title>
    <meta name="description" content="Detect and correct wrong GPS points in your GPX track">
    <meta name="author" content="Tomas Dvorak">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

</head>

<body>
<div id="app">
    <div id="navigation">
        <div v-bind:class="{done:stepUpload}">
            <h2>1. Export from Strava</h2>
            <p>Open the <a href="https://www.strava.com/athlete/training" target="_blank"> Strava web interface</a>. In the activity details under <code>⚬⚬⚬</code> select <code>Export GPX</code>.</p>
        </div>
        <div v-bind:class="{done:stepUpload}">
            <h2>2. Open the GPX here</h2>
            <div v-if="!gpx && !loading">
                <p><input type="file" v-on:change="loadFile"></p>
                <p class="hint">The GPX file will never be uploaded to any server, all the processing happens only in your browser.
                </p>
            </div>
            <p id="loading" v-if="loading" class="hint">Loading and processing activity...</p>
            <div v-if="gpx">
                <div class="infobox">
                    <p>File {{filename}} contains {{points.length}} GPS points.</p>
                </div>
            </div>
        </div>
        <div v-bind:class="{done: stepEdit}">
            <h2>3. Edit the track</h2>
                <p>Click on each wrong point and select <code>remove</code>. You can also draw an area around all points that should be removed.</p>
                <ul>
                    <li v-if="!leaflet.multiselect"><a href="#" v-on:click.prevent="switchMultiselect">Select by drawing</a></li>
                    <li v-if="leaflet.multiselect"><a href="#" v-on:click.prevent="removeSelected">Remove all selected points</a></li>
                    <li v-if="leaflet.multiselect"><a href="#" v-on:click.prevent="switchMultiselect">Cancel selection</a></li>
                </ul>
            <div class="infobox" v-if="removedPoints.length > 0">
                <p>Removed points {{removedPoints.length}} so far.</p>
            </div>
            </div>
        <div v-bind:class="{done: stepDownload}">
            <h2>4. Download fixed GPX</h2>
            <p><a href="#" v-on:click.prevent="downloadFile">Click to download</a> your fixed track as a GPX file.</p>
        </div>
        <div>
            <h2>5. Upload back to strava</h2>
            <a href="https://www.strava.com/upload/select" target="_blank">Open strava</a> and provide the just fixed
            GPX track. You may need to remove the old activity first.
        </div>
    </div>
    <div class="right">
        <div id="mapid"></div>
        <div id="elevation">
            <p v-if="points.length == 0" class="hint center">Upload a GPX track to see elevation profile</p>
        </div>
    </div>

</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="js/Leaflet.SelectAreaFeature.js"></script>
<script src="js/science.v1.js"></script>
<script src="js/app.js"></script>
</body>
</html>
